## ATM Transactions Assignment

## Setting up environment variables and parameters

In [1]:
# Below parameters needs to be updated with respective environments values

import os
import sys
os.environ["PYSPARK_PYTHON"] = "/opt/cloudera/parcels/Anaconda/bin/python"
os.environ["JAVA_HOME"] = "/usr/java/jdk1.8.0_232-cloudera/jre" 
os.environ["SPARK_HOME"]="/opt/cloudera/parcels/SPARK2-2.3.0.cloudera2-1.cdh5.13.3.p0.316101/lib/spark2/" 
os.environ["PYLIB"] = os.environ["SPARK_HOME"] + "/python/lib"
sys.path.insert(0, os.environ["PYLIB"] +"/py4j-0.10.6-src.zip")
sys.path.insert(0, os.environ["PYLIB"] +"/pyspark.zip")

## Setting up Spark Session and Context

In [2]:
from pyspark.sql import SparkSession
spark = SparkSession.builder.appName('ATM_Transactions_Project').master("local").getOrCreate()
spark

## Pulling the data from HDFS , setting up the schema as per the required output

In [3]:
from pyspark.sql.types import StructType, StructField, IntegerType, StringType, BooleanType, DoubleType, LongType

atmSchema = StructType([StructField('year', IntegerType(),False),
                        StructField('month', StringType(),False),
                        StructField('day', IntegerType(),False),
                        StructField('weekday', StringType(),False),
                        StructField('hour', IntegerType(),False),
                        StructField('atm_status', StringType(),False),
                        StructField('atm_id', IntegerType(),False),
                        StructField('atm_manufacturer', StringType(),False),
                        StructField('atm_location', StringType(),False),
                        StructField('atm_streetname', StringType(),False),
                        StructField('atm_street_number', IntegerType(),False),
                        StructField('atm_zipcode', IntegerType(),False),
                        StructField('atm_lat', DoubleType(),False),
                        StructField('atm_lon', DoubleType(),False),
                        StructField('currency', StringType(),False),
                        StructField('card_type', StringType(),False),
                        StructField('transaction_amount', IntegerType(),False), 
                        StructField('service', StringType(),False),
                        StructField('message_code', StringType(),True),
                        StructField('message_text', StringType(),True),
                        StructField('weather_lat', DoubleType(),False),
                        StructField('weather_lon', DoubleType(),False),
                        StructField('weather_city_id', IntegerType(),False),
                        StructField('weather_city_name', StringType(),False), 
                        StructField('temp', DoubleType(),False),
                        StructField('pressure', IntegerType(),False), 
                        StructField('humidity', IntegerType(),False), 
                        StructField('wind_speed', IntegerType(),False), 
                        StructField('wind_deg', IntegerType(),False), 
                        StructField('rain_3h', DoubleType(),True), 
                        StructField('clouds_all', IntegerType(),False), 
                        StructField('weather_id', IntegerType(),False), 
                        StructField('weather_main', StringType(),False), 
                        StructField('weather_description', StringType(),False), 
                        ])

In [4]:

atm_staging = spark.read.csv("/user/root/etl_assignment",header=False,schema=atmSchema)

In [5]:
atm_staging.printSchema()

root
 |-- year: integer (nullable = true)
 |-- month: string (nullable = true)
 |-- day: integer (nullable = true)
 |-- weekday: string (nullable = true)
 |-- hour: integer (nullable = true)
 |-- atm_status: string (nullable = true)
 |-- atm_id: integer (nullable = true)
 |-- atm_manufacturer: string (nullable = true)
 |-- atm_location: string (nullable = true)
 |-- atm_streetname: string (nullable = true)
 |-- atm_street_number: integer (nullable = true)
 |-- atm_zipcode: integer (nullable = true)
 |-- atm_lat: double (nullable = true)
 |-- atm_lon: double (nullable = true)
 |-- currency: string (nullable = true)
 |-- card_type: string (nullable = true)
 |-- transaction_amount: integer (nullable = true)
 |-- service: string (nullable = true)
 |-- message_code: string (nullable = true)
 |-- message_text: string (nullable = true)
 |-- weather_lat: double (nullable = true)
 |-- weather_lon: double (nullable = true)
 |-- weather_city_id: integer (nullable = true)
 |-- weather_city_name: string (nullable = true)
 |-- temp: double (nullable = true)
 |-- pressure: integer (nullable = true)
 |-- humidity: integer (nullable = true)
 |-- wind_speed: integer (nullable = true)
 |-- wind_deg: integer (nullable = true)
 |-- rain_3h: double (nullable = true)
 |-- clouds_all: integer (nullable = true)
 |-- weather_id: integer (nullable = true)
 |-- weather_main: string (nullable = true)
 |-- weather_description: string (nullable = true)

## Validate the count of the entries pulled from RDS to Spark(HDFS)

In [6]:
atm_staging.count()

2468572

## Review the data

In [7]:
atm_staging.select("year","atm_id","atm_manufacturer","atm_lat","message_code","clouds_all").show(3)

+----+------+----------------+-------+------------+----------+
|year|atm_id|atm_manufacturer|atm_lat|message_code|clouds_all|
+----+------+----------------+-------+------------+----------+
|2017|     1|             NCR| 55.233|        null|        92|
|2017|     2|             NCR| 57.043|        null|        92|
|2017|     2|             NCR| 57.043|        null|        92|
+----+------+----------------+-------+------------+----------+
only showing top 3 rows

## Creating staging table

In [8]:
atm_staging.registerTempTable("atm_staging");
atm_staging.cache()

DataFrame[year: int, month: string, day: int, weekday: string, hour: int, atm_status: string, atm_id: int, atm_manufacturer: string, atm_location: string, atm_streetname: string, atm_street_number: int, atm_zipcode: int, atm_lat: double, atm_lon: double, currency: string, card_type: string, transaction_amount: int, service: string, message_code: string, message_text: string, weather_lat: double, weather_lon: double, weather_city_id: int, weather_city_name: string, temp: double, pressure: int, humidity: int, wind_speed: int, wind_deg: int, rain_3h: double, clouds_all: int, weather_id: int, weather_main: string, weather_description: string]

In [9]:
spark.sql("select count(1) from atm_staging").show();

+--------+
|count(1)|
+--------+
| 2468572|
+--------+

## Dimension Table Creation

### Location Dimension Table Creation - DIM_LOCATION

In [10]:
# Importing pacakges to create unique id 
from pyspark.sql.functions import *
from pyspark.sql.functions import row_number, monotonically_increasing_id
from pyspark.sql import Window

# Creating staging table for Location dimension table and removing the duplicates
atm_location_staging=spark.sql("select distinct atm_location location, \
          atm_streetname streetname, \
          atm_street_number street_number,\
          atm_zipcode zipcode, \
          atm_lat lat, \
          atm_lon lon \
          from atm_staging \
          order by location");

# Adding the primary key column by generating unique id 
atm_location_staging = atm_location_staging.withColumn(
    "location_id",
    row_number().over(Window.orderBy(monotonically_increasing_id()))
)

# Creating the dimension table by rearragning the columns as per expectation
DIM_LOCATION=atm_location_staging.select("location_id","location","streetname","street_number","zipcode","lat","lon")

#Registering the df to use in join with sparlsql
DIM_LOCATION.registerTempTable("DIM_LOCATION");

### DIM_LOCATION Validate the count -109

In [11]:
spark.sql("select count(*) from DIM_LOCATION").show()

+--------+
|count(1)|
+--------+
|     109|
+--------+

In [12]:
DIM_LOCATION.count()

109

### Validate the DIM_LOCATION Data

In [13]:
spark.sql("select * from DIM_LOCATION").show(109,truncate=False)

+-----------+---------------------------+------------------------+-------------+-------+------+------+
|location_id|location                   |streetname              |street_number|zipcode|lat   |lon   |
+-----------+---------------------------+------------------------+-------------+-------+------+------+
|1          |Aabybro                    |ÃƒËœstergade            |6            |9440   |57.162|9.73  |
|2          |Aalborg Hallen             |Europa Plads            |4            |9000   |57.044|9.913 |
|3          |Aalborg Storcenter  Afd    |Hobrovej                |452          |9200   |57.005|9.876 |
|4          |Aalborg Storcenter indg. D |Hobrovej                |452          |9200   |57.005|9.876 |
|5          |Aalborg Syd                |Hobrovej                |440          |9200   |57.005|9.881 |
|6          |AalbÃƒÂ¦k                  |Centralvej              |5            |9982   |57.593|10.412|
|7          |Aarhus                     |SÃƒÂ¸nder Alle          |11           |8000   |56.153|10.206|
|8          |Aarhus                     |Ceres Byen              |75           |8000   |56.157|10.194|
|9          |Aarhus Lufthavn            |Ny Lufthavnsvej         |24           |8560   |56.308|10.627|
|10         |Aars                       |Himmerlandsgade         |70           |9600   |56.803|9.518 |
|11         |Abildgaard                 |HjÃƒÂ¸rringvej          |144          |9900   |57.447|10.506|
|12         |Arden                      |Vestergade              |6            |9510   |56.769|9.859 |
|13         |Bindslev                   |NÃƒÂ¸rrebro             |18           |9881   |57.541|10.2  |
|14         |Bispensgade                |Bispensgade             |35           |9800   |57.453|9.996 |
|15         |Brugsen ANS                |SÃƒÂ¸ndermarksgade      |14           |8643   |56.306|9.594 |
|16         |Brugsen i Breum            |AakjÃƒÂ¦rsvej           |1            |7870   |56.688|9.069 |
|17         |Bryggen  Vejle             |SÃƒÂ¸nderbrogade        |2            |7100   |55.705|9.532 |
|18         |BrÃƒÂ¸nderslev             |Algade                  |4            |9700   |57.269|9.945 |
|19         |DAYZ Feriecenter           |LivÃƒÂ¸vej              |80           |9681   |56.893|9.171 |
|20         |Daglig Brugsen ÃƒËœ.Hurup  |Kystvejen               |51           |9560   |56.804|10.271|
|21         |Drive Up  Vejle            |Havneparken             |4            |7100   |55.707|9.541 |
|22         |Durup                      |Torvet                  |4            |7870   |56.745|8.949 |
|23         |Esbjerg                    |Strandbygade            |20           |6700   |55.468|8.44  |
|24         |FarsÃƒÂ¸                   |Torvet                  |8            |9640   |56.771|9.34  |
|25         |Fredericia                 |SjÃƒÂ¦llandsgade        |33           |7000   |55.564|9.757 |
|26         |Frederiksberg              |Gammel Kongevej         |157          |1850   |55.677|12.537|
|27         |Frederikshavn              |Danmarksgade            |48           |9900   |57.441|10.537|
|28         |Fur                        |StenÃƒÂ¸re              |19           |7884   |56.805|9.02  |
|29         |Gistrup                    |Hadsundvej              |346          |9260   |56.997|9.993 |
|30         |GlyngÃƒÂ¸re                |FÃƒÂ¦rgevej             |1            |7870   |56.762|8.867 |
|31         |Hadsund                    |Storegade               |12           |9560   |56.716|10.114|
|32         |Hasseris                   |Hasserisvej             |113          |9000   |57.044|9.898 |
|33         |HelsingÃƒÂ¸r               |Sct. Olai Gade          |39           |3000   |56.036|12.612|
|34         |Herning                    |Dalgasgade              |30           |7400   |56.135|8.971 |
|35         |HillerÃƒÂ¸d                |KÃƒÂ¸benhavnsvej        |31           |3400   |55.933|12.314|
|36         |HillerÃƒÂ¸d IdrÃƒÂ¦tscenter|Milnersvej              |39           |3400   |55.921|12.299|
|37         |Hirtshals                  |JÃƒÂ¸rgen Fibigersgade  |4            |9850   |57.591|9.957 |
|38         |Hjallerup                  |Hjallerup Centret       |18           |9320   |57.168|10.148|
|39         |HjÃƒÂ¸rring                |ÃƒËœstergade            |8            |9800   |57.459|9.988 |
|40         |Hobro                      |Adelgade                |31           |9500   |56.638|9.794 |
|41         |HolbÃƒÂ¦k                  |Slotsvolden             |7            |4300   |55.718|11.704|
|42         |Holstebro                  |Hostrupsvej             |6            |7500   |56.373|8.625 |
|43         |Horsens                    |GrÃƒÂ¸nlandsvej         |5            |8700   |55.859|9.854 |
|44         |HÃƒÂ¸jbjerg                |Rosenvangsalle          |194          |8270   |56.119|10.192|
|45         |HÃƒÂ¸jslev                 |ÃƒËœsterrisvej          |2            |7840   |56.551|9.11  |
|46         |HÃƒÂ¸rning                 |NÃƒÂ¸rrealle            |12           |8362   |56.086|10.037|
|47         |HÃƒÂ¸rning Hallen          |Toftevej                |53           |8362   |56.091|10.033|
|48         |Ikast                      |RÃƒÂ¥dhusstrÃƒÂ¦det     |12           |7430   |56.139|9.154 |
|49         |Intern  BrÃƒÂ¸nderslev     |Algade                  |4            |9700   |57.269|9.945 |
|50         |Intern  Frederikshavn      |Danmarksgade            |48           |9900   |57.441|10.537|
|51         |Intern  Hjallerup          |Hjallerup Centret       |18           |9320   |57.168|10.148|
|52         |Intern  HjÃƒÂ¸rring        |ÃƒËœstergade            |8            |9800   |57.459|9.988 |
|53         |Intern  KÃƒÂ¸benhavn       |RÃƒÂ¥dhuspladsen        |75           |1550   |55.676|12.571|
|54         |Intern  Odense             |FÃƒÂ¦lledvej            |3            |5000   |55.394|10.37 |
|55         |Intern  Roskilde           |KÃƒÂ¸benhavnsvej        |65           |4000   |55.642|12.106|
|56         |Intern  Skive              |Adelgade                |8            |7800   |56.567|9.027 |
|57         |Intern  Vejle              |Havneparken             |4            |7100   |55.707|9.541 |
|58         |Intern  ÃƒËœsterÃƒÂ¥       |ÃƒËœsterÃƒÂ¥            |12           |9000   |57.049|9.922 |
|59         |Intern HolbÃƒÂ¦k           |Slotsvolden             |7            |4300   |55.718|11.704|
|60         |Intern Skagen              |Sct. Laurentiivej       |36           |9990   |57.723|10.59 |
|61         |Jebjerg                    |Kirkegade               |4            |7870   |56.671|9.013 |
|62         |Kolding                    |Vejlevej                |135          |6000   |55.505|9.457 |
|63         |KÃƒÂ¸benhavn               |Regnbuepladsen          |5            |1550   |55.676|12.571|
|64         |KÃƒÂ¸ge                    |SÃƒÂ¸ndre Alle          |1            |4600   |55.454|12.181|
|65         |Lyngby                     |Jernbanevej             |6            |2800   |55.772|12.5  |
|66         |LÃƒÂ¸gstÃƒÂ¸r              |ÃƒËœsterbrogade         |8            |9670   |56.967|9.253 |
|67         |Menu KÃƒÂ¸bmand Klarup     |Klarupvej               |52           |9270   |57.013|10.046|
|68         |Middelfart                 |Brogade                 |9            |5500   |55.507|9.727 |
|69         |Nibe                       |Torvet                  |1            |9240   |56.983|9.639 |
|70         |Nordkraft                  |Kjellerups Torv         |1            |9000   |57.047|9.932 |
|71         |Nyborg                     |Vestergade              |35           |5800   |55.318|10.781|
|72         |NykÃƒÂ¸bing Mors           |Kirketorvet             |1            |7900   |56.795|8.86  |
|73         |NykÃƒÂ¸bing Mors Lobby     |Kirketorvet             |1            |7900   |56.795|8.86  |
|74         |NÃƒÂ¦stved                 |Farimagsgade            |8            |4700   |55.69 |12.575|
|75         |NÃƒÂ¦stved                 |Farimagsvej             |8            |4700   |55.233|11.763|
|76         |NÃƒÂ¸rresundby             |Torvet                  |6            |9400   |57.059|9.922 |
|77         |Odense                     |FÃƒÂ¦lledvej            |3            |5000   |55.394|10.37 |
|78         |Randers                    |ÃƒËœstervold            |16           |8900   |56.462|10.038|
|79         |Roskilde                   |KÃƒÂ¸benhavnsvej        |65           |4000   |55.642|12.106|
|80         |Sauersvej                  |Fridtjof Nansens Vej    |2            |9210   |57.023|9.94  |
|81         |Silkeborg                  |Borgergade              |36           |8600   |56.179|9.552 |
|82         |Skagen                     |Sct. Laurentiivej       |36           |9990   |57.723|10.59 |
|83         |Skallerup Klit             |Nordre Klitvej          |21           |9800   |57.494|9.838 |
|84         |Skelagervej 15             |Skelagervej             |15           |9000   |57.023|9.891 |
|85         |Skipperen                  |Vestre Alle             |2            |9000   |57.034|9.908 |
|86         |Skive                      |Adelgade                |8            |7800   |56.567|9.027 |
|87         |Skive Lobby                |Adelgade                |8            |7800   |56.567|9.027 |
|88         |Slagelse                   |Mariendals AllÃƒÂ¨      |29           |4200   |55.398|11.342|
|89         |Slagelse                   |Mariendals Alle         |29           |4200   |55.398|11.342|
|90         |Spar KÃƒÂ¸bmand TornhÃƒÂ¸j |TornhÃƒÂ¸jvej           |4            |9220   |57.026|10.002|
|91         |Storcenter indg. A         |Hobrovej                |452          |9200   |57.005|9.876 |
|92         |Storvorde                  |VandvÃƒÂ¦rksvej         |2            |9280   |57.005|10.101|
|93         |StÃƒÂ¸vring                |Baunebakken             |4            |9530   |56.89 |9.836 |
|94         |Svendborg                  |Sankt Nicolai Gade      |1            |5700   |55.058|10.609|
|95         |Svenstrup                  |GodthÃƒÂ¥bsvej          |14           |9230   |56.973|9.851 |
|96         |Svogerslev                 |BrÃƒÂ¸nsager            |1            |4000   |55.634|12.018|
|97         |SÃƒÂ¦by                    |Vestergade              |3            |9300   |57.334|10.515|
|98         |SÃƒÂ¦by Syd                |Trafikcenter SÃƒÂ¦by Syd|1            |9300   |57.313|10.45 |
|99         |SÃƒÂ¦dding                 |Tarphagevej             |59           |6710   |55.498|8.408 |
|100        |Taars                      |Bredgade                |91           |9830   |57.385|10.116|
|101        |Terndrup                   |Bymidten                |2            |9575   |56.815|10.057|
|102        |Vadum                      |Ellehammersvej          |43           |9430   |57.118|9.861 |
|103        |Vejgaard                   |Hadsundvej              |20           |9000   |57.043|9.95  |
|104        |Vestre                     |Kastetvej               |36           |9000   |57.053|9.905 |
|105        |Viborg                     |Toldboden               |3            |8800   |56.448|9.401 |
|106        |Vinderup                   |SÃƒÂ¸ndergade           |5            |7830   |56.481|8.779 |
|107        |Vodskov                    |Vodskovvej              |27           |9310   |57.104|10.027|
|108        |ÃƒËœsterÃƒÂ¥  Duus         |ÃƒËœsterÃƒÂ¥            |12           |9000   |57.049|9.922 |
|109        |ÃƒËœsterÃƒÂ¥  MÃƒÂ¸ller    |ÃƒËœsterÃƒÂ¥            |12           |9000   |57.049|9.922 |
+-----------+---------------------------+------------------------+-------------+-------+------+------+

### ATM Dimension Table Creation - DIM_ATM

In [14]:
# Importing pacakges to create unique id 
from pyspark.sql.functions import *
from pyspark.sql.functions import row_number, monotonically_increasing_id
from pyspark.sql import Window

# Creating staging table for ATM dimension table and removing the duplicates
atm_data_staging=spark.sql("select distinct atm_id atm_number, \
          atm_manufacturer, \
          atm_lat, \
          atm_lon \
          from atm_staging");

#Generating the temp table to perfor join later with the DIM_LOCATION table
atm_data_staging.registerTempTable("atm_data_staging");

#Joining the tables to get normalized data based on location of atm
atm_data_staging=spark.sql("select distinct atm_number , \
          atm_manufacturer, \
          location_id atm_location_id\
          from atm_data_staging \
          left outer join DIM_LOCATION \
          on atm_data_staging.atm_lat = lat \
          and atm_data_staging.atm_lon = lon")

# Adding the primary key column by generating unique id 
atm_data_staging = atm_data_staging.withColumn(
    "atm_id",
    row_number().over(Window.orderBy(monotonically_increasing_id()))
)

# Creating the dimension table by rearragning the columns as per expectation
DIM_ATM=atm_data_staging.select("atm_id","atm_number","atm_manufacturer","atm_location_id");

#Registering the df to use in join with sparlsql
DIM_ATM.registerTempTable("DIM_ATM");

### DIM_ATM Validate the count -156

In [15]:
spark.sql("select count(1) from DIM_ATM").show();

+--------+
|count(1)|
+--------+
|     156|
+--------+

### Validate the DIM_ATM Data

In [16]:
spark.sql("select * from DIM_ATM").show(156,truncate=False);

+------+----------+----------------+---------------+
|atm_id|atm_number|atm_manufacturer|atm_location_id|
+------+----------+----------------+---------------+
|1     |29        |NCR             |84             |
|2     |110       |Diebold Nixdorf |59             |
|3     |105       |Diebold Nixdorf |76             |
|4     |111       |Diebold Nixdorf |8              |
|5     |87        |NCR             |3              |
|6     |100       |NCR             |87             |
|7     |2         |NCR             |103            |
|8     |21        |NCR             |108            |
|9     |91        |NCR             |86             |
|10    |18        |Diebold Nixdorf |105            |
|11    |6         |NCR             |25             |
|12    |36        |NCR             |52             |
|13    |82        |NCR             |83             |
|14    |41        |Diebold Nixdorf |82             |
|15    |59        |Diebold Nixdorf |72             |
|16    |88        |NCR             |4              |
|17    |15        |NCR             |104            |
|18    |42        |NCR             |106            |
|19    |106       |NCR             |79             |
|20    |43        |NCR             |10             |
|21    |34        |NCR             |85             |
|22    |20        |NCR             |14             |
|23    |100       |NCR             |86             |
|24    |104       |NCR             |109            |
|25    |31        |NCR             |89             |
|26    |87        |NCR             |4              |
|27    |88        |NCR             |3              |
|28    |67        |NCR             |45             |
|29    |19        |NCR             |62             |
|30    |63        |NCR             |16             |
|31    |25        |Diebold Nixdorf |77             |
|32    |96        |NCR             |2              |
|33    |102       |NCR             |3              |
|34    |14        |NCR             |46             |
|35    |77        |NCR             |9              |
|36    |113       |Diebold Nixdorf |89             |
|37    |66        |NCR             |15             |
|38    |85        |Diebold Nixdorf |63             |
|39    |93        |NCR             |49             |
|40    |61        |NCR             |23             |
|41    |58        |NCR             |93             |
|42    |44        |NCR             |65             |
|43    |94        |NCR             |82             |
|44    |16        |NCR             |87             |
|45    |100       |NCR             |56             |
|46    |93        |NCR             |18             |
|47    |16        |NCR             |86             |
|48    |94        |NCR             |60             |
|49    |113       |Diebold Nixdorf |88             |
|50    |76        |NCR             |19             |
|51    |109       |Diebold Nixdorf |5              |
|52    |72        |NCR             |20             |
|53    |46        |Diebold Nixdorf |33             |
|54    |89        |NCR             |27             |
|55    |27        |NCR             |34             |
|56    |104       |NCR             |108            |
|57    |32        |NCR             |99             |
|58    |47        |NCR             |26             |
|59    |79        |NCR             |68             |
|60    |12        |NCR             |109            |
|61    |51        |NCR             |29             |
|62    |104       |NCR             |58             |
|63    |12        |NCR             |108            |
|64    |59        |Diebold Nixdorf |73             |
|65    |36        |NCR             |39             |
|66    |81        |NCR             |90             |
|67    |53        |NCR             |98             |
|68    |69        |NCR             |100            |
|69    |84        |NCR             |94             |
|70    |68        |NCR             |57             |
|71    |38        |NCR             |32             |
|72    |41        |Diebold Nixdorf |60             |
|73    |68        |NCR             |21             |
|74    |39        |NCR             |95             |
|75    |7         |Diebold Nixdorf |51             |
|76    |95        |NCR             |63             |
|77    |54        |NCR             |22             |
|78    |40        |Diebold Nixdorf |27             |
|79    |101       |NCR             |17             |
|80    |85        |Diebold Nixdorf |53             |
|81    |3         |NCR             |48             |
|82    |26        |NCR             |59             |
|83    |56        |Diebold Nixdorf |64             |
|84    |55        |NCR             |12             |
|85    |74        |NCR             |61             |
|86    |87        |NCR             |91             |
|87    |45        |NCR             |11             |
|88    |91        |NCR             |87             |
|89    |97        |NCR             |38             |
|90    |50        |NCR             |7              |
|91    |75        |NCR             |70             |
|92    |9         |Diebold Nixdorf |31             |
|93    |112       |Diebold Nixdorf |74             |
|94    |83        |NCR             |28             |
|95    |86        |NCR             |36             |
|96    |52        |NCR             |24             |
|97    |12        |NCR             |58             |
|98    |90        |NCR             |41             |
|99    |28        |NCR             |66             |
|100   |4         |NCR             |96             |
|101   |103       |Diebold Nixdorf |103            |
|102   |65        |NCR             |92             |
|103   |23        |Diebold Nixdorf |107            |
|104   |26        |NCR             |41             |
|105   |22        |NCR             |79             |
|106   |24        |NCR             |40             |
|107   |64        |NCR             |43             |
|108   |31        |NCR             |88             |
|109   |110       |Diebold Nixdorf |41             |
|110   |71        |NCR             |6              |
|111   |8         |NCR             |30             |
|112   |33        |NCR             |102            |
|113   |1         |NCR             |75             |
|114   |95        |NCR             |53             |
|115   |108       |NCR             |47             |
|116   |10        |NCR             |76             |
|117   |40        |Diebold Nixdorf |50             |
|118   |97        |NCR             |51             |
|119   |21        |NCR             |58             |
|120   |80        |NCR             |67             |
|121   |5         |NCR             |69             |
|122   |98        |NCR             |54             |
|123   |70        |Diebold Nixdorf |42             |
|124   |90        |NCR             |59             |
|125   |107       |Diebold Nixdorf |62             |
|126   |106       |NCR             |55             |
|127   |92        |NCR             |39             |
|128   |25        |Diebold Nixdorf |54             |
|129   |78        |Diebold Nixdorf |71             |
|130   |21        |NCR             |109            |
|131   |57        |NCR             |35             |
|132   |92        |NCR             |52             |
|133   |102       |NCR             |4              |
|134   |88        |NCR             |91             |
|135   |91        |NCR             |56             |
|136   |7         |Diebold Nixdorf |38             |
|137   |98        |NCR             |77             |
|138   |73        |NCR             |44             |
|139   |37        |NCR             |81             |
|140   |11        |NCR             |80             |
|141   |102       |NCR             |91             |
|142   |30        |NCR             |72             |
|143   |48        |Diebold Nixdorf |49             |
|144   |30        |NCR             |73             |
|145   |22        |NCR             |55             |
|146   |35        |NCR             |1              |
|147   |89        |NCR             |50             |
|148   |17        |NCR             |78             |
|149   |62        |Diebold Nixdorf |101            |
|150   |49        |NCR             |13             |
|151   |99        |NCR             |21             |
|152   |60        |NCR             |37             |
|153   |48        |Diebold Nixdorf |18             |
|154   |99        |NCR             |57             |
|155   |13        |NCR             |97             |
|156   |16        |NCR             |56             |
+------+----------+----------------+---------------+

### ATM Transaction date Dimension Table Creation - DIM_DATE

In [17]:
# Importing pacakges to create unique id 
from pyspark.sql import functions as sf
from pyspark.sql.functions import row_number, monotonically_increasing_id
from pyspark.sql import Window

#Extrating the date attribtues to create the date staging dimension table
atm_date_staging = spark.sql("select distinct year,month,day,hour,weekday from atm_staging")

#Converting the Month values to euivalent numbered months values to ease addition of unix timestamp column full_date_time
atm_date_staging= atm_date_staging.withColumn("tmonth",from_unixtime(unix_timestamp(col("Month"),'MMM'),'MM'))
atm_date_staging = atm_date_staging.withColumn('full_date_time',sf.concat(sf.col('year'),sf.lit('/'),sf.col('tmonth'),sf.lit('/'),sf.col('day'),sf.lit(' '),sf.col('hour'),sf.lit(':'),sf.lit('00:00')))
atm_date_staging = atm_date_staging.withColumn('full_date_time', unix_timestamp(atm_date_staging['full_date_time'], 'yyyy/MM/dd HH:mm:ss').cast('timestamp'))

# Adding the primary key column by generating unique id 
atm_date_staging = atm_date_staging.withColumn(
    "date_id",
    row_number().over(Window.orderBy(monotonically_increasing_id()))
)

# Creating the dimension table by rearragning the columns as per expectation
DIM_DATE=atm_date_staging.select("date_id","full_date_time","year","month","day","hour","weekday");

#Registering the df to use in join with sparlsql
DIM_DATE.registerTempTable("DIM_DATE");

### DIM_DATE Validate the count -8685

In [18]:
spark.sql("select count(1) from DIM_DATE").show();

+--------+
|count(1)|
+--------+
|    8685|
+--------+

### Validate the DIM_DATE Data

In [19]:
spark.sql("select * from DIM_DATE").show(5)

+-------+-------------------+----+--------+---+----+---------+
|date_id|     full_date_time|year|   month|day|hour|  weekday|
+-------+-------------------+----+--------+---+----+---------+
|      1|2017-01-02 16:00:00|2017| January|  2|  16|   Monday|
|      2|2017-01-15 09:00:00|2017| January| 15|   9|   Sunday|
|      3|2017-01-24 17:00:00|2017| January| 24|  17|  Tuesday|
|      4|2017-02-07 11:00:00|2017|February|  7|  11|  Tuesday|
|      5|2017-02-08 20:00:00|2017|February|  8|  20|Wednesday|
+-------+-------------------+----+--------+---+----+---------+
only showing top 5 rows

### ATM Card Type Dimension Table Creation - DIM_CARD_TYPE

In [20]:
#Extrating the card type attribtues to create the card type staging dimension table
atm_card_type = spark.sql("select distinct card_Type from atm_staging ");

# Adding the primary key column by generating unique id 
atm_card_type = atm_card_type.withColumn(
    "card_type_id",
    row_number().over(Window.orderBy(monotonically_increasing_id()))
)

# Creating the dimension table by rearragning the columns as per expectation
DIM_CARD_TYPE=atm_card_type.select("card_type_id","card_type");

#Registering the df to use in join with sparlsql
DIM_CARD_TYPE.registerTempTable("DIM_CARD_TYPE");

### DIM_CARD_TYPE Validate the count -12

In [21]:
spark.sql("select count(*) from DIM_CARD_TYPE").show()

+--------+
|count(1)|
+--------+
|      12|
+--------+

### Validate the DIM_CARD_TYPE Data

In [22]:
spark.sql("select * from DIM_CARD_TYPE").show()

+------------+--------------------+
|card_type_id|           card_type|
+------------+--------------------+
|           1|     Dankort - on-us|
|           2|              CIRRUS|
|           3|         HÃƒÂ¦vekort|
|           4|                VISA|
|           5|  Mastercard - on-us|
|           6|             Maestro|
|           7|Visa Dankort - on-us|
|           8|        Visa Dankort|
|           9|            VisaPlus|
|          10|          MasterCard|
|          11|             Dankort|
|          12| HÃƒÂ¦vekort - on-us|
+------------+--------------------+

## Fact Table Creation

### Stage 1 : Left Outer Join of staging table and the location dimension table

In [23]:
atm_ljoin_location = spark.sql("select dim_location.location_id,atm_staging.* \
                        from atm_staging \
                        left join dim_location\
                        on dim_location.location = atm_staging.atm_location \
                        and dim_location.streetname = atm_staging.atm_streetname \
                        and dim_location.street_number = atm_staging.atm_street_number \
                        and dim_location.lat = atm_staging.atm_lat \
                        and dim_location.lon = atm_staging.atm_lon");

### Renaming the atm_id column to avoid conflict while joining with the dimension table DIM_ATM

In [24]:
atm_ljoin_location=atm_ljoin_location.withColumnRenamed('atm_id','atm_id_temp')

atm_ljoin_location.registerTempTable("atm_ljoin_location");

### Stage 2: Left Joining the above resultset with the DIM_ATM table

In [25]:
atm_ljoin_atm = spark.sql("select dim_atm.atm_id,atm_ljoin_location.* \
                            from atm_ljoin_location \
                            left join dim_atm \
                            on dim_atm.atm_number = atm_ljoin_location.atm_id_temp \
                            and dim_atm.atm_manufacturer = atm_ljoin_location.atm_manufacturer \
                            and dim_atm.atm_location_id = atm_ljoin_location.location_id")

In [26]:
atm_ljoin_atm.registerTempTable("atm_ljoin_atm")

### Stage 3 : Left Join above resultset with the Date Dimensional Table DIM_DATE

In [27]:
atm_ljoin_date = spark.sql("select dim_date.date_id,dim_date.full_date_time,atm_ljoin_atm.* \
                            from atm_ljoin_atm left join dim_date \
                            on dim_date.year = atm_ljoin_atm.year \
                            and dim_date.month = atm_ljoin_atm.month \
                            and dim_date.day = atm_ljoin_atm.day \
                            and dim_date.hour = atm_ljoin_atm.hour \
                            and dim_date.weekday = atm_ljoin_atm.weekday")

### Renaming the card_type column to avoid conflict

In [28]:
atm_ljoin_date=atm_ljoin_date.withColumnRenamed('card_type','card_type_temp')
atm_ljoin_date.registerTempTable("atm_ljoin_date")

### Stage 4: Left Join the above resultset with the card type dimensional table DIM_CARD_TYPE

In [29]:
atm_ljoin_card = spark.sql("select dim_card_type.card_type_id,atm_ljoin_date.* \
                            from atm_ljoin_date \
                            left join dim_card_type \
                            on dim_card_type.card_type = atm_ljoin_date.card_type_temp")

### Cleaning up the staging fact table to hold only relevant columns

In [30]:

atm_ljoin_card=atm_ljoin_card.drop("year","month","day","weekday","hour","atm_id_temp","atm_manufacturer","atm_location",
                    "atm_streetname","atm_street_number","atm_zipcode","atm_lat","atm_lon","card_type_temp",
                   "weather_lat","weather_lon","weather_city_id","weather_city_name","temp","pressure",
                   "humidity","wind_speed","wind_deg")

In [31]:
atm_ljoin_card.printSchema();

root
 |-- card_type_id: integer (nullable = true)
 |-- date_id: integer (nullable = true)
 |-- full_date_time: timestamp (nullable = true)
 |-- atm_id: integer (nullable = true)
 |-- location_id: integer (nullable = true)
 |-- atm_status: string (nullable = true)
 |-- currency: string (nullable = true)
 |-- transaction_amount: integer (nullable = true)
 |-- service: string (nullable = true)
 |-- message_code: string (nullable = true)
 |-- message_text: string (nullable = true)
 |-- rain_3h: double (nullable = true)
 |-- clouds_all: integer (nullable = true)
 |-- weather_id: integer (nullable = true)
 |-- weather_main: string (nullable = true)
 |-- weather_description: string (nullable = true)

### Validating the record in the staging fact table - 2468572

In [32]:
atm_ljoin_card.count()

2468572

### Setting up the primary key for fact table

In [33]:
atm_ljoin_card=atm_ljoin_card.withColumnRenamed('location_id','weather_loc_id')

atm_ljoin_card = atm_ljoin_card.withColumn(
    "trans_id",
    row_number().over(Window.orderBy(monotonically_increasing_id()))
)

FACT_ATM_TRANS = atm_ljoin_card.select("trans_id","atm_id","weather_loc_id","date_id","card_type_id","atm_status",
                                      "currency","service","transaction_amount","message_code","message_text",
                                      "rain_3h","clouds_all","weather_id","weather_main","weather_description")

In [34]:
FACT_ATM_TRANS.cache()

DataFrame[trans_id: int, atm_id: int, weather_loc_id: int, date_id: int, card_type_id: int, atm_status: string, currency: string, service: string, transaction_amount: int, message_code: string, message_text: string, rain_3h: double, clouds_all: int, weather_id: int, weather_main: string, weather_description: string]

### Fact Table Validation wrt to count and unique values for the respective foriegn keys

In [35]:
FACT_ATM_TRANS.count()

2468572

In [36]:
FACT_ATM_TRANS.filter(FACT_ATM_TRANS.trans_id.isNotNull()).count()

2468572

In [37]:
FACT_ATM_TRANS.filter(FACT_ATM_TRANS.atm_id.isNotNull()).count()

2468572

In [38]:
FACT_ATM_TRANS.filter(FACT_ATM_TRANS.weather_loc_id.isNotNull()).count()

2468572

In [39]:
FACT_ATM_TRANS.filter(FACT_ATM_TRANS.date_id.isNotNull()).count()

2468572

In [40]:
FACT_ATM_TRANS.filter(FACT_ATM_TRANS.card_type_id.isNotNull()).count()

2468572

### Validate the data for the FACT_ATM_TRANS DF

In [41]:
FACT_ATM_TRANS.select("trans_id","atm_id","weather_loc_id","date_id","card_type_id","atm_status").show(5)

+--------+------+--------------+-------+------------+----------+
|trans_id|atm_id|weather_loc_id|date_id|card_type_id|atm_status|
+--------+------+--------------+-------+------------+----------+
|       1|    14|            82|     10|           1|    Active|
|       2|    21|            85|     10|           1|    Active|
|       3|    26|             4|     10|           1|    Active|
|       4|    30|            16|     10|           1|    Active|
|       5|    30|            16|     10|           1|    Active|
+--------+------+--------------+-------+------------+----------+
only showing top 5 rows

## Transfer the dimension and fact table to S3

### Assumption : Necessay configuration are done to integrate S3 and cdh

In [62]:
DIM_LOCATION.write.save("s3a://upgradjjassignment/ETL/DIM_LOCATION",format='csv',header='true')

In [55]:
DIM_ATM.write.save("s3a://upgradjjassignment/ETL/DIM_ATM",format='csv',header='true')

In [42]:
DIM_DATE.write.save("s3a://upgradjjassignment/ETL/DIM_DATE",format='csv',header='true')

In [57]:
DIM_CARD_TYPE.write.save("s3a://upgradjjassignment/ETL/DIM_CARD_TYPE",format='csv',header='true')

In [43]:
FACT_ATM_TRANS.write.save("s3a://upgradjjassignment/ETL/FACT_ATM_TRANS",format='csv',header='true')